#logo{
    background-color: none;
    color : white;
    height : 5px;
    width : 10px;
    padding : 80px;
    font-size : 80px;
    font-family: Generic font family, Flowing font, Zapf Chancery;
    margin-top : -50px;
}
#home{
    margin-left : 500px;
    padding : 120px;
    font-size : 15px;
    margin-top : -500px;
    color : rgb(235, 217, 180);
    text-decoration-line: none;
}

#about{
    padding : 80px;
    font-size : 15px;
    color : rgb(235, 217, 180);
    margin-top : -500px;
    text-decoration-line: none;
}

#port{
    padding : 80px;
    font-size : 15px;
    color : rgb(235, 217, 180);
    margin-top : -500px;
    text-decoration-line: none;
}

#photo{
    height : 400px;
    margin-left : 50px;
    padding : 50px;
    border : none;
    box-sizing: initial;
    border-color: blanchedalmond;
    border-radius : 50%;t
}

#box{
    height : 270px;
    width : 600px;
    background-color: rgb(157, 188, 152);
    border-radius: 50px;
    margin-left : 590px;
    margin-top : -400px;
    text-align : center ;
    padding : 5px;
    font-size : 21px;
}

#box2{
    background-color: rgb(99, 136, 137);
    height : 120px;
    width : 400px;
    border-radius : 50%;
    margin-left : 80px;
    border-color: beige;
    border-right: 10px;
    margin-top:-15px;
}

#box3{
    height : 900px;
    width : 97%;
    background-color: rgb(234, 236, 204);
    margin-top : 100px;
    border-radius: 50px;
    padding : 20px;
    font-size : 20px;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
}

box :hover {
    transition : width 2s, height 2s;
}